<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.blog.mapper.TagMapper">

    <select id="listTagNameByBlogId" resultType="java.lang.String">
        SELECT
            tag_name
        FROM
            tag t
        JOIN blog_tag bt ON t.tag_id = bt.tag_id
        WHERE
            blog_id = #{blogId}
    </select>

    <select id="getTagListDTO" resultType="com.lee.blog.dto.TagListDTO">
        SELECT
            t.tag_id,t.tag_name,COUNT( bt.blog_id ) AS blog_count,
            t.create_time
        FROM
            tag t
        LEFT JOIN blog_tag bt ON t.tag_id = bt.tag_id
        <where>
            <if test="conditionVo.keywords != null">
                tag_name like concat('%',#{conditionVo.keywords},'%')
            </if>
        </where>
        GROUP BY
            t.tag_id
        ORDER BY
            t.tag_id DESC
        LIMIT #{limitCurrent},#{size}
    </select>

</mapper>
