<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.blog.mapper.UserMapper">

    <resultMap id="UserListMap" type="com.lee.blog.dto.UserListDTO">
        <id column="user_id" property="userId"/>
        <result column="avatar" property="avatar"/>
        <result column="nickname" property="nickname"/>
        <result column="login_type" property="loginType"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="ip_source" property="ipSource"/>
        <result column="create_time" property="createTime"/>
        <result column="last_login" property="lastLogin"/>
        <result column="status" property="status"/>
        <collection property="roleList" ofType="com.lee.blog.dto.UserRoleDTO">
            <id column="role_id" property="roleId"/>
            <id column="role_name" property="roleName"/>
        </collection>
    </resultMap>


    <select id="countUser" resultType="java.lang.Integer">
        SELECT
            count( 1 )
        FROM
            `user`
        <where>
            <if test="condition.keywords != null">
                nickname like concat('%',#{condition.keywords},'%')
            </if>
            <if test="condition.loginType != null">
                and login_type = #{condition.loginType}
            </if>
        </where>
    </select>

    <select id="listUsers" resultMap="UserListMap">
        SELECT
            u.user_id,u.avatar,u.nickname,u.login_type,r.role_id,r.name AS role_name,
            u.ip_address,u.ip_source,u.create_time,u.last_login,u.status
        FROM
            `user` u
        LEFT JOIN user_role ur ON u.user_id = ur.user_id
        LEFT JOIN `role` r ON ur.role_id = r.role_id
        <where>
            <if test="condition.loginType != null">
                u.login_type =  #{condition.loginType}
            </if>
            <if test="condition.keywords != null">
                and u.nickname like concat('%',#{condition.keywords},'%')
            </if>
        </where>
        LIMIT #{limitCurrent},#{size}
    </select>
</mapper>
